p {
  font-family: Lato;
}

h1{
  color:white;
 background-color: black;
 text-align: center;


}

.container{
  text-align: center;
}
.container form{
  width: 100%;
}

.todolist li{
    
  text-decoration: none;
  list-style: none;

}
ul{
  text-align: center;
}

input{
  
border-radius: 15px ;
}

